################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/CategorieProject/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/bin/Debug/net9.0/CategorieProject.dll
/bin/Debug/net9.0/csv
/bin/Debug/net9.0/data
/bin/Debug/net9.0/CategorieProject.exe
/bin/Debug/net9.0/CategorieProject.pdb
/obj/Debug/net9.0/ref/CategorieProject.dll
/obj/Debug/net9.0/refint/CategorieProject.dll
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/CategorieProject.dll
/obj/Debug/net9.0/CategorieProject.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/CategorieProject.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/CategorieProject.AssemblyInfoInputs.cache
/obj/Debug/net9.0/CategorieProject.pdb
*.json
/obj/Debug/net9.0/CategorieProject.AssemblyInfo.cs
/.vs/CategorieProject/v17/DocumentLayout.json
/.vs/CategorieProject/v17/.suo
/.vs/CategorieProject/v17/DocumentLayout.backup.json
/.vs/CategorieProject/CopilotIndices/17.12.53.23981/CodeChunks.db
*.db-wal
/.vs/CategorieProject/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/CategorieProject/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/CategorieProject/FileContentIndex/572a109b-3486-48f6-abcc-fcdcf5b9821e.vsidx
/.vs/CategorieProject/FileContentIndex/9141513c-3cdd-423a-b617-c8d101878742.vsidx
